<h1><%= @num_dice %>d<%= @sides %></h1>

<a href="/process_roll?dice=<%= @num_dice %>&sides=<%= @sides %>">Roll again</a>

<ul>
  <% @rolls.each do |a_roll| %>
    <li>
      <%= a_roll %>
    </li>
  <% end %>
</ul>
