<h1><%= @num_dice %>d<%= @sides %></h1>

<a href="/process_roll?dice=<%= @num_dice %>&sides=<%= @sides %>">Roll again</a>

<a href="/">Go home</a>

<ol>
  <% @rolls.each do |a_roll| %>
    <li>
      <strong><%= a_roll %></strong>
    </li>
  <% end %>
</ol>
